body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
}
.header ul {
   margin: 0px;
   padding: 0px;
   list-style-type: none;
   display: flex;
   margin-right: 104px;
   gap: 16px;
   margin-top: 10px;
}

li{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header{
    display: flex;
    background-color: #1F2937;
    
}

.header .logo{
    margin-top: 0px;
    flex: 1;
    margin-right: auto;
    margin-left: 104px;
    color: #F9FAf8;
    font-size: 24px;
    margin-top: 10px;
    
}

img {
    width: 400px;
    height: auto;
    margin-right: 104px;
    margin-top: 56px;
    margin-bottom: 80px;
}

.hero-container {
    display: flex;
    background-color: #1F2937;
    
}

.hero-text{
    flex-basis:400px;
    margin-right: auto;
    margin-left: 104px;
    margin-top: 56px;
    margin-bottom: 80px;
}

.hero-heading{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAf8;
}

.hero-subtext{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0px;
    
}

.container{
    text-align: center;
    
}

.info-container{
    display: flex;
    justify-content: center;
    gap:25px;
    margin-bottom: 72px;
}

.photo{
    width: 100px;
    height: 100px;
    border: 2px solid blue;
    border-radius: 10px;
}

.text{
    max-width: 100px;
    font-size: 15px;
    color: #1F2937;
}

.information{
    margin-top: 36px;
    margin-bottom: 36px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;

}



